.idInput {
  justify-content: center;
}

.passwordInput {
  justify-content: center;
}

.member {
  cursor: pointer;
  background-color: red;
}

.nonMember {
  cursor: pointer;
  background-color: red;
}

.signIn {
  background-color: blue;
}
