.font1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  letter-spacing: -0.1px;
  padding: 0px 28px 0px 0px;
  /* Gray/700 */

  color: #272d37;
}

.font2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  height: 2.2rem;
  /* or 185% */

  letter-spacing: -0.1px;

  color: #5f6d7e;
}
