@import "../assets/styles/variable.scss";
@font-face {
  font-family: "Inter";
  src: url("../assets/styles/fonts/Inter-SemiBold.ttf");
}
.main {
  @include breakpoint(md) {
    text-align: center;
  }

  @include breakpoint(sm) {
    padding: 0 3rem;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 100vw;

  min-height: 100vh;
  height: fit-content;

  /* Neutral/50 */

  background: #fafbfc;
}

.containers {
  display: flex;
  flex-direction: column;
  padding: 30px 24px 12px;
  gap: 24px;

  min-height: 100vh;
  height: fit-content;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
