
.layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  //   overflow: hidden;
}
.layout-main {
  width: 100%;
  position: relative;
  left: 0;
  flex: 1;
}
